/* #region initial */
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    /* background-color: #333333; */
    /* background-color: #DDDDDD; */
    background-color: #888888;
}

body > * {
    background-color: #FFFFFF;
}

.body-wrapper {
    display: flex;
    flex-direction: row;
}

.column-spacer {
    flex: 0 10 10%;
    background-color: #700070;
}

#left-column-spacer {
    order: 1; 
}

#right-column-spacer {
    order: 3;
}

.content-column {
    flex: 1;
    order: 2;

    display: flex;
    flex-direction: column;
}

/* .content-column div {
    padding: 0 5px;
} */
/* #endregion initial */


/* #region header */
.header-container {
    padding: 5px;
    display: flex;
    justify-items: start;
    align-content: end;
    position: sticky;
    top: 0px;
    min-height: 150px;
    /* gap: 20px; */
    
    /* justify-content: space-between; */
    /* border:1px solid green; */
    border-bottom: 1px solid black;
    background-color: #EEEEEE;
}

.header-title {
    display: flex;
    gap: 0.5em;
    font-size: 3em;
    /* justify-content: space-between; */
    align-items:center;
    /* border: 0px solid blue; */
}

#profile-picture {  
    display: block;
    border-radius: 50%;
    min-height: 1em;
    max-height: 100%;
    max-width: auto;
    /* border: 1px solid orange; */
}

.header-title p {
    max-height: 2em;
    font-size: 1em;
    position:relative;
    bottom:0;
    /* border: 0px solid black;
    background-color: #AAAAAA; */
}

.all-logos-container {
    font-size: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    border: 1px solid blue;
    margin: 0 40px;
}

/* .all-logos-container ul {
    list-style-type: circle;
}

.all-logos-container > li.item-github {
    list-style-image: url('images/logo_github.png');
}

.all-logos-container > li.item-linkedin {
    list-style-image: url('images/logo_linkedin.png');
}

.all-logos-container .logo-github {
    background-image:url("./images/logo_github.png");
    background-repeat: no-repeat;
    background-size: 1em;
    width: 1em;
    height: 1em;
    border: 0;
}

.all-logos-container .logo-linkedin {
    background-image:url("./images/logo_linkedin.png");
    background-repeat: no-repeat;
    background-size: 1em;
    width: 1em;
    height: 1em;
    border: 0;
}

.logo-container {
    max-height: 1em;
}

.logo-container > img {
    /* min-height: 21px;
    min-width:  21px;
    width: 1em;
    height: auto;
    max-height: 1em;
    margin-left: 4px;
}*/
/* #endregion header */


/* #region main-content */
.main-content {
    padding: 0 0 10px 0;
    /* margin-top: 30px; */
    flex-basis: 100%;
}

div.links {
    display: flex;
    background-color: #DDDDDD;
    margin-bottom: 5px;
}

div.links div {
    min-width: 1px;
    padding: 5px 10px;
}

div.links div:hover {
    background-color: #AAAAAA;
}

div.links div a {
    text-decoration: none;
    color: #000000;
}

img.new-window {
    width: 0.25em;
    height: auto;
}

.content{
    padding: 5px 10px;
}

.dynamic-content{
    padding: 0 10px;
}

div.project {
    padding-bottom: 1em;
    transition: background-image 1s;
    transition-delay: 1s;
}

div.project:hover {
    background-image: linear-gradient(to right, #FFF, #FFF, #DDDDDD);
    border: 1px #DDDDDD solid
}

.project-title a {
    text-decoration: none;
}

.project-title a:hover {
    text-decoration-line: underline;
}

span.status-complete {
    color: #008000;
}

span.status-in-progress {
    color: #977b00;
}

ul {
    list-style-position: inside;
}
/* #endregion main-content */


/* #region footer */
.footer {
    background-color: #333333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.75em;
    padding: 10px 0;
}
/* #endregion footer */